:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --component-bg: color-mix(in srgb, var(--bg), var(--fg) 10%);
  --component-border-radius: 8px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg);
  color: var(--fg);
}

#app {
  display: grid;
  height: 100vh;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 40px 1fr 40px;
}
