:root {
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --component-1: color-mix(in srgb, var(--bg), var(--fg) 10%);
  --component-2: color-mix(in srgb, var(--bg), var(--fg) 20%);
  --component-3: color-mix(in srgb, var(--bg), var(--fg) 30%);
  --component-4: color-mix(in srgb, var(--bg), var(--fg) 40%);
  --component-5: color-mix(in srgb, var(--bg), var(--fg) 50%);

  --max-width: 1000px;

  --sub-base-1: 4px;
  --sub-base-2: 8px;
  --sub-base-3: 12px;
  --sub-base-4: 16px;
  --base-1: 8px;
  --base-2: 16px;
  --base-3: 24px;
  --base-4: 32px;

  --color-mode-transition-duration: 300ms;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg);
  color: var(--fg);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.color-mode-transition * {
  transition: color var(--color-mode-transition-duration) ease,
    border-color var(--color-mode-transition-duration) ease,
    background-color var(--color-mode-transition-duration) ease;
}

h1,
h2,
h3 {
  font-weight: 700;
}

/* Highlight */

.hljs {
  background: #2e3440;
}

.hljs,
.hljs-subst {
  color: #d8dee9;
}

.hljs-selector-tag {
  color: #81a1c1;
}

.hljs-selector-id {
  color: #8fbcbb;
  font-weight: bold;
}

.hljs-selector-class {
  color: #8fbcbb;
}

.hljs-selector-attr {
  color: #8fbcbb;
}

.hljs-property {
  color: #88c0d0;
}

.hljs-selector-pseudo {
  color: #88c0d0;
}

.hljs-addition {
  background-color: rgba(163, 190, 140, 0.5);
}

.hljs-deletion {
  background-color: rgba(191, 97, 106, 0.5);
}

.hljs-built_in,
.hljs-type {
  color: #8fbcbb;
}

.hljs-class {
  color: #8fbcbb;
}

.hljs-function {
  color: #88c0d0;
}

.hljs-title.hljs-function,
.hljs-function > .hljs-title {
  color: #88c0d0;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol {
  color: #81a1c1;
}

.hljs-number {
  color: #b48ead;
}

.hljs-regexp {
  color: #ebcb8b;
}

.hljs-string {
  color: #a3be8c;
}

.hljs-title {
  color: #8fbcbb;
}

.hljs-params {
  color: #d8dee9;
}

.hljs-bullet {
  color: #81a1c1;
}

.hljs-code {
  color: #8fbcbb;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-formula {
  color: #8fbcbb;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link:hover {
  text-decoration: underline;
}

.hljs-quote {
  color: #4c566a;
}

.hljs-comment {
  color: #4c566a;
}

.hljs-doctag {
  color: #8fbcbb;
}

.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #5e81ac;
}

.hljs-meta .hljs-string {
  color: #a3be8c;
}

.hljs-attr {
  color: #8fbcbb;
}

.hljs-attribute {
  color: #d8dee9;
}

.hljs-name {
  color: #81a1c1;
}

.hljs-section {
  color: #88c0d0;
}

.hljs-tag {
  color: #81a1c1;
}

.hljs-variable {
  color: #d8dee9;
}

.hljs-template-variable {
  color: #d8dee9;
}

.hljs-template-tag {
  color: #5e81ac;
}

/* per language customizations */

.language-css .hljs-built_in {
  color: #88c0d0;
}

.language-css .hljs-keyword {
  color: #d08770;
}

.language-scss .hljs-keyword {
  color: #81a1c1;
}
